<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memori</title>
    <!-- ... 기존의 CSS 및 JavaScript 라이브러리 추가 ... -->
    <link rel="stylesheet" href="/list.css">
</head>
<body>

<nav th:replace="~{main_up :: main_upFragment}"></nav>
<nav th:replace="~{main_nav :: main_navFragment}"></nav>

<div class="container">
    <div id="filter-body" class="filter-container">
        <div class="filter-group">
            <h4>제조사</h4>
            <div class="filter-options" id="maker-options">
                <button class="brand-option" value="삼성전자" onclick="filterProducts(this.value)">삼성전자</button>
                <button class="brand-option" value="G.SKILL" onclick="filterProducts(this.value)">G.SKILL</button>
                <button class="brand-option" value="마이크론" onclick="filterProducts(this.value)">마이크론</button>
                <button class="brand-option" value="TeamGroup" onclick="filterProducts(this.value)">TeamGroup</button>
                <button class="brand-option" value="SK하이닉스" onclick="filterProducts(this.value)">SK하이닉스</button>
                <button class="brand-option" value="GeIL" onclick="filterProducts(this.value)">GeIL</button>
                <button class="brand-option" value="ESSENCORE" onclick="filterProducts(this.value)">ESSENCORE</button>
                <button class="brand-option" value="ADATA" onclick="filterProducts(this.value)">ADATA</button>

            </div>
        </div>
        <div class="filter-group">
            <h4>제품 분류</h4>
            <div class="filter-options" id="print-options">
                <button class="brand-option" value="DDR5" onclick="filterProducts(this.value)">DDR5</button>
                <button class="brand-option" value="DDR4" onclick="filterProducts(this.value)">DDR4</button>
                <button class="brand-option" value="DDR3" onclick="filterProducts(this.value)">DDR3</button>
                <button class="brand-option" value="DDR2" onclick="filterProducts(this.value)">DDR2</button>
            </div>
        </div>

    </div>
</div>


<div class="container">
    <div class="sortBtn">
        <button onclick="sortTableByPrice('asc')">낮은 가격순</button>
        <button onclick="sortTableByPrice('desc')">높은 가격순</button>
    </div>
    <h1>RAM</h1>
    <nav th:replace="~{products_list :: products_list}"></nav>

</div>
</body>
</html>