<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Memori</title>
    <!-- ... 기존의 CSS 및 JavaScript 라이브러리 추가 ... -->
    <link rel="stylesheet" href="/list.css">
</head>
<body>

<nav th:replace="~{main_up :: main_upFragment}"></nav>
<nav th:replace="~{main_nav :: main_navFragment}"></nav>

<div class="container">
    <div id="filter-body" class="filter-container">
        <div class="filter-group">
            <h4>제조사</h4>
            <div class="filter-options" id="maker-options">
                <button class="brand-option" value="삼성전자" onclick="filterProducts(this.value)">삼성전자</button>
                <button class="brand-option" value="Western Digital" onclick="filterProducts(this.value)">Western Digital</button>
                <button class="brand-option" value="마이크론" onclick="filterProducts(this.value)">마이크론</button>
                <button class="brand-option" value="Seagate" onclick="filterProducts(this.value)">Seagate</button>
                <button class="brand-option" value="SK하이닉스" onclick="filterProducts(this.value)">SK하이닉스</button>
            </div>
        </div>
        <div class="filter-group">
            <h4>용량</h4>
            <div class="filter-options" id="disk-options">
                <button class="brand-option" value="256GB 이하" onclick="filterProducts(this.value)">256GB 이하</button>
                <button class="brand-option" value="256~512GB" onclick="filterProducts(this.value)">256~512GB</button>
                <button class="brand-option" value="512GB~1TB" onclick="filterProducts(this.value)">512GB~1TB</button>
                <button class="brand-option" value="1TB~2TB" onclick="filterProducts(this.value)">1TB~2TB</button>
                <button class="brand-option" value="2TB 이상" onclick="filterProducts(this.value)">2TB 이상</button>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="sortBtn">
        <button onclick="sortTableByPrice('asc')">낮은 가격순</button>
        <button onclick="sortTableByPrice('desc')">높은 가격순</button>
    </div>
    <h1>SSD</h1>
    <nav th:replace="~{products_list :: products_list}"></nav>

</div>
</body>
</html>