
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memori</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/index01.css" rel="stylesheet">
</head>
<body>
<nav th:replace="~{main_up :: main_upFragment}"></nav>
<div class="container1">
    <div class="a bg-dark text-center">
        <button type="button" class="aa btn btn-dark" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> 케이스는 컴퓨터의 주요 부품 중 하나입니다.'
                value="computercase" onclick="deleteAllProducts();handleClick(this); ">케이스</button>
    </div>
    <div class="b bg-warning text-center">
        <button type="button" class="bb btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='모니터는 컴퓨터가 출력하는 화면을 볼 수 있는 장치입니다.'
                value="monitor" onclick="deleteAllProducts();handleClick(this);">모니터</button>
    </div>
    <div class="c bg-primary text-center">
        <button type="button" class="cc btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> 쿨러는 컴퓨터의 주요 부품 중 하나입니다.'
                value="cooler" onclick="deleteAllProducts();handleClick(this);">쿨러</button>
    </div>
    <div class="d bg-danger text-center">
        <button type="button" class="dd btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> CPU는 컴퓨터의 주요 부품 중 하나입니다. 고사양을 원하시면 높은 수의 코어와
스레드를 가진 CPU를 보시는 것을 추천드립니다.'

                value="cpu" onclick="deleteAllProducts();handleClick(this);">CPU</button>
    </div>
    <div class="e bg-success text-center">
        <button type="button" class="ee btn btn-success" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> SSD는 컴퓨터의 주요 부품 중 하나입니다.'
                value="ssd" onclick="deleteAllProducts();handleClick(this);">SSD</button>
    </div>
    <div style="background-color:rgb(212, 38, 212)" class="f text-center">
        <button type="button" class="ff btn cusbtn2" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수부품*</span> RAM은 용량이 커질수록 더 빠른 실행 속도와 원활한 작업을 제공합니다.
                주로 저사양 작업에는 8GB 정도를, 고사양 작업에는 16GB 이상을 추천드립니다. 또한 단일(16)보다는 분할(8+8)로 이용하는 것이 작업에 효율적입니다.'
                value="ram" onclick="deleteAllProducts();handleClick(this);">RAM</button>
    </div>
    <div style="background-color:orange" class="g text-center">
        <button type="button" class="gg btn cusbtn3" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> 메인보드는 컴퓨터의 주요 부품 중 하나입니다.'
                value="mainboard" onclick="deleteAllProducts();handleClick(this);">메인보드</button>
    </div>
    <div style="background-color:pink" class="h text-center">
        <button type="button" class="hh btn cusbtn1" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> GPU는 컴퓨터의 주요 부품 중 하나입니다.'
                value="gpu" onclick="deleteAllProducts();handleClick(this);">GPU</button>
    </div>
    <div class="i bg-light text-center">
        <button type="button" class="ii btn btn-light" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> 파워는 컴퓨터의 주요 부품 중 하나입니다.'
                value="power" onclick="deleteAllProducts();handleClick(this);">파워</button>
    </div>
    <div class="j bg-secondary text-center">
        <button type="button" class="jj btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-custom-class="custom-tooltip" data-bs-html="true"
                data-bs-title='<span class="required">*필수*</span> HDD는 컴퓨터의 주요 부품 중 하나입니다.'
                value="hdd" onclick="deleteAllProducts();handleClick(this);">HDD</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
<script th:inline="javascript">
    function handleClick(button) {
        const value = button.getAttribute("value");
        fetch(`/api/search?query=${value}&limit=100`)
            .then(response => response.json())
            .then(data => {
                // 여기서 서버의 응답을 처리합니다.
                console.log(data);
                // 페이지 리다이렉트는 서버의 응답을 처리한 후에 실행해야 합니다.
                window.location.href = `/${value}`;
            })
            .catch(error => console.error('Error:', error));
    }
    function deleteAllProducts() {
        fetch('/deleteAll', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
</script>
</body>
</html>