<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>Memori</title>
<link rel="stylesheet" href="/login.css">
</head>
	<body>
		<nav th:replace="~{main_up :: main_upFragment}"></nav>
		<section>
			<div class="login">
				<div class="login-type">
					<form th:action="@{/user/login}" method="post">
						<div class="int-area">
							<input type="text" name="username" id="username" autocomplete="off" required>
							<label for="id">ID</label>
						</div>
						<div class="int-area">
							<input type="password" name="password" id="password" autocomplete="off" required>
							<label for="id">PASSWORD</label>
						</div>
						<div class="btn-area">
							<button type="submit">로그인</button>
						</div>
					</form>
				</div>
				<div class="login-footer">
					<p>"혹시 사이트 이용이 처음이신가요?"</p>
					<button onclick="location.href='/user/signup'">회원가입</button>
				</div>
			</div>
		</section>
	</body>
</html>